/* GENERAL SETUP */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f5f2;
}

/* MAIN SECTION */
main {
    display: flex;
    gap: 30px;
    padding: 60px;
    background-color: #f45d48;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

h1 {
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
}

h3 {
    margin-top: 30px;
    color: gray;
    font-weight: 200;
}

h3 a {
    text-decoration: none;
    color: black;
}

/* SCREEN CONTAINER AND CELLS*/
#container, .row {
    display: flex;
}

#container {
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.row, .cell {
    flex: 1;
}

/* CONTROLS SECTION */
#controls, #controls-cursorModes {
    display: flex;
    flex-direction: column;
}

#controls {
    background-color: #cd4d3c;
    padding: 15px;
    height: 100%; 
    justify-content: space-between;
}

.controls-group, button {
    margin-bottom: 20px;
}

button, label {
    font-size: 18px;
    color: white;
}

button {
    background: none;
    border: 2px solid white;    
    padding: 5px;
    width: 120px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #303030;
}

label {
    display: block;
    margin-bottom: 5px;
}

.mode-active {
    color: #303030;
}

.mode-active {
    background-color: white;
}